{% extends 'mobile/layout.html' %}
	
	{% block body %}
	
	 <div class="categories segments-page">
		<div class="container">
			<div class="pages-title">
				<h3>Categories</h3>
			</div>
			<ul class="collapsible" data-collapsible="accordion">
				<li>
					<div class="collapsible-header text-bold active">
						<i class="fa fa-industry"></i>Daşınmaz əmlak
					</div>
					<div class="collapsible-body">
						<ul>
							<li><a href="/article/category/de/mnz">Mənzillər</a></li>
							<li><a href="/article/category/de/ovo">Obyektlər və ofislər</a></li>
							<li><a href="/article/category/de/trp">Torpaq</a></li>
							<li><a href="/article/category/de/qrj">Qarajlar</a></li>
							<li><a href="/article/category/de/vvb">Villalar, bağ evləri</a></li>
						</ul>
					</div>
				</li>
				<li>
					<div class="collapsible-header text-bold">
						<i class="fa fa-home"></i>Ev və bağ üçün
					</div>
					<div class="collapsible-body">
						<ul>
							<li><a href="/article/category/evvebag/mvi">Mebel və interyer</a></li>
							<li><a href="/article/category/evvebag/tvt">Temir Ve Tikinti</a></li>
							<li><a href="/article/category/evvebag/btk">Bitkiler</a></li>
							<li><a href="/article/category/evvebag/mt">Məişət texnikası</a></li>
							<li><a href="/article/category/evvebag/qab">Qab-qacaq və mətbəx ləvazimatları</a></li>
						</ul>
					</div>
				</li>
				
				<li>
					<div class="collapsible-header text-bold">
						<i class="fa fa-television"></i>Elektronika
					</div>
					<div class="collapsible-body">
						<ul>
							<li><a href="/article/category/elektronika/ka">Kompüter aksesuarları</a></li>
							<li><a href="/article/category/elektronika/nvn">Noutbuklar və Netbuklar</a></li>
							<li><a href="/article/category/elektronika/pc">Masaüstü kompüterlər</a></li>
							<li><a href="/article/category/elektronika/nvs">Nömrələr və SİM-kartlar</a></li>
							<li><a href="/article/category/elektronika/mnt">Komponentlər və monitorlar</a></li>
							<li><a href="/article/category/elektronika/oav">Ofis avadanlığı və istehlak</a></li>
                            <li><a href="/article/category/elektronika/tlf">Telefonlar</a></li>
                            <li><a href="/article/category/elektronika/ft">Foto texnika</a></li>
                                                            
                            <li><a href="/article/category/elektronika/pve">Planşet və elektron kitablar</a></li>
                            <li><a href="/article/category/elektronika/op">Oyunlar Pultlar ve programlar</a></li>
                                                        
						</ul>
					</div>
				</li>
				<li>
					<div class="collapsible-header bor-rad text-bold">
						<i class="fa fa-car"></i>Nəqliyat
					</div>
					<div class="collapsible-body">
						<ul>
							<li><a href="/article/category/neqliyat/ehv">Ehtiyat hissələri və aksesuarlarr</a></li>
                            <li><a href="/article/category/neqliyat/afv">Avtobuslar və xüsusi texnika</a></li>
                            <li><a href="/article/category/neqliyat/avt">Avtomobillər</a></li>
                            <li><a href="/article/category/neqliyat/aqr">Aqrotexnika</a></li>
                            <li><a href="/article/category/neqliyat/mvm">Motosikletlər və mopedlər</a></li>
                            <li><a href="/article/category/neqliyat/sn">Su nəqliyyatı</a></li>

						</ul>
					</div>
				</li>
				<li>
					<div class="collapsible-header bor-rad text-bold">
						<i class="fa fa-camera-retro"></i>Heyvanlar
					</div>
					<div class="collapsible-body">
						<ul>
							<li><a href="/article/category/heyvanlar/qsl">Quşlar</a></li>
                            <li><a href="/article/category/heyvanlar/itl">İtlər</a></li>
                            <li><a href="/article/category/heyvanlar/huv">Hevanlar ücün Məhsullar</a></li>
                            <li><a href="/article/category/heyvanlar/dh">Digər heyvanlar</a></li>
                            <li><a href="/article/category/heyvanlar/psk">Pişiklər</a></li>
                            <li><a href="/article/category/heyvanlar/avb">Akvarium və balıqlar</a></li>

						</ul>
					</div>
				</li>
				
				<li>
					<div class="collapsible-header bor-rad text-bold">
						<i class="fa fa-futbol-o"></i>Hobbi
					</div>
					<div class="collapsible-body">
						<ul>
							<li><a href="/article/category/hobbi/vls">Velosipedlər</a></li>
                            <li><a href="/article/category/hobbi/ma">Musiqi alətləri</a></li>
                        	<li><a href="/article/category/hobbi/iva">İdman və asudə</a></li>
                                                        
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- end categories -->
	
	{% endblock body %}
	
