<label>Kateqoriya:</label>
<select  class="form-control js-category-select" name="status" id="status" required><option value="">Siyahıdan seçin</option><optgroup label="Ev və bağ üçün"><option  value="tvt">Təmir və tikinti</option>
<option  value="mvi">Mebel və interyer</option>
<option  value="mt">Məişət texnikası</option>
<option  value="qab">Qab-qacaq və mətbəx ləvazimatları</option>
<option  value="btk">Bitkilər</option></optgroup><optgroup label="Elektronika">
<option  value="ka">Kompüter aksesuarları</option>
<option  value="op">Oyunlar, pultlar və proqramlar</option>
<option  value="pc">Masaüstü kompüterlər</option>
<option  value="mnt">Komponentlər və monitorlar</option>
<option  value="pve">Planşet və elektron kitablar</option>
<option  value="nvn">Noutbuklar və Netbuklar</option>
<option  value="oav">Ofis avadanlığı və istehlak</option>
<option  value="tlf">Telefonlar</option>
<option  value="ft">Foto texnika</option>
<option  value="nvs">Nömrələr və SİM-kartlar</option></optgroup>
<optgroup label="Hobbi">
<option  value="vls">Velosipedlər</option>
<option  value="ma">Musiqi alətləri</option>
<option  value="iva">İdman və asudə</option>
</optgroup><optgroup label="Nəqliyyat"><option  value="avt">Avtomobillər</option>
<option  value="ehv">Ehtiyat hissələri və aksesuarlar</option>
<option  value="mvm">Motosikletlər və mopedlər</option>
<option  value="sn">Su nəqliyyatı</option>
<option  value="afv">Avtobuslar və xüsusi texnika</option>
<option  value="aqr">Aqrotexnika</option></optgroup><optgroup label="Daşınmaz əmlak"><option value="mnz">Mənzillər</option>
<option  value="vvb">Villalar, bağ evləri</option>
<option  value="trp">Torpaq</option>
<option  value="qrj">Qarajlar</option>
<option  value="ovo">Obyektlər və ofislər</option></optgroup><optgroup label="Heyvanlar"><option  value="itl">İtlər</option>
<option  value="psk">Pişiklər</option>
<option  value="qsl">Quşlar</option>
<option  value="dh">Digər heyvanlar</option>
<option  value="huv">Hevanlar ücün Məhsullar</option>
<option  value="avb">Akvarium və balıqlar</option>

<option  value="dgr">Digər</option></optgroup></select>