{% load static %}
 <section class="btx-section js-dynamic-navbar btx-p-border-border btx-dark-scheme" data-index="1" data-scheme="dark">
                            <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#1d1d1d; opacity:1;"></div>
                            </div>
                            <div class="btx-section-wrapper" style="padding-top:30px; padding-right:40px; padding-left:40px; padding-bottom:30px;">
                                <div class="btx-container--fullwidth">
                                    <div class="btx-row btx-row--main">
                                        <div class="btx-col-6">

                                            <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font btx-center-align-responsive">
                                                <div class="btx-row" style="margin:0 -30px;">

                                                    <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                        <div class="btx-text-content-inner">
                                                            <span class="font-style" style="font-size: 13px;"><span style="color: rgb(255, 255, 255);">© 2020 All rights reserved.</span></span>
                                                            <span class="font-style" style="font-size: 13px;"><span style="color: rgb(255, 255, 255);">Founder <b><a href="/davudhaji">Haji Davud</a></b>.</span></span>
                                                            <span class="font-style" style="font-size: 13px;"><span style="color: rgb(255, 255, 255);">UX Designer <b><a href="https://www.instagram.com/huseynlyv/">Aliyev Huseyn</a></b>.</span></span>
                                                            <span class="font-style" style="font-size: 13px;"><span style="color: rgb(255, 255, 255);">UI Designer <b><a href="https://www.instagram.com/haciyev_13/">Hajili Sadig</a></b>.</span></span>
                                                            <span class="font-style" style="font-size: 13px;"><span style="color: rgb(255, 255, 255);">Security <b><a href="https://www.instagram.com/nihat.bv/">Bakhisli Nihat</a></b>.</span></span>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="btx-col-6">

                                            <div class="btx-item js-item-social btx-social btx-social--plain btx-right-align btx-center-align-responsive">

                                                <div class="btx-social-inner">
                                                    <a href="http://facebook.com/" class="btx-social-item btx-social-facebook" target="_blank">
                                                        <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--small">
                                                            <span class="btx-icon-normal btx-icon-plain btx-p-brand-color" style="color:#ffffff;">
                                                                <i class="fa fa-facebook"></i>
                                                            </span>
                                                            <span class="btx-icon-hover btx-icon-plain btx-s-brand-color" style="color:#01a2dd;">
                                                                <i class="fa fa-facebook"></i>
                                                            </span>
                                                        </span>
                                                    </a>
                                                    <a href="http://twitter.com/" class="btx-social-item btx-social-twitter" target="_blank">
                                                        <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--small">
                                                            <span class="btx-icon-normal btx-icon-plain btx-p-brand-color" style="color:#ffffff;">
                                                                <i class="fa fa-twitter"></i>
                                                            </span>
                                                            <span class="btx-icon-hover btx-icon-plain btx-s-brand-color" style="color:#01a2dd;">
                                                                <i class="fa fa-twitter"></i>
                                                            </span>
                                                        </span>
                                                    </a>
                                                    <a href="http://instagram.com/" class="btx-social-item btx-social-instagram" target="_blank">
                                                        <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--small">
                                                            <span class="btx-icon-normal btx-icon-plain btx-p-brand-color" style="color:#ffffff;">
                                                                <i class="fa fa-instagram"></i>
                                                            </span>
                                                            <span class="btx-icon-hover btx-icon-plain btx-s-brand-color" style="color:#01a2dd;">
                                                                <i class="fa fa-instagram"></i>
                                                            </span>
                                                        </span>
                                                    </a>
                                                    <a href="http://youtube.com/" class="btx-social-item btx-social-youtube" target="_blank">
                                                        <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--small">
                                                            <span class="btx-icon-normal btx-icon-plain btx-p-brand-color" style="color:#ffffff;">
                                                                <i class="fa fa-youtube"></i>
                                                            </span>
                                                            <span class="btx-icon-hover btx-icon-plain btx-s-brand-color" style="color:#01a2dd;">
                                                                <i class="fa fa-youtube"></i>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>


    <script type='text/javascript' src='{% static 'js/jquery/jquery.js'%}'></script>

    <script type='text/javascript'>
	/* <![CDATA[ */
	var BateauxOptions = {"ajax_url":"js/admin-ajax.html"};
	/* ]]> */
	</script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var mejsL10n = {
            "language": "en-US",
            "strings": {
                "Close": "Close",
                "Fullscreen": "Fullscreen",
                "Download File": "Download File",
                "Download Video": "Download Video",
                "Play\/Pause": "Play\/Pause",
                "Mute Toggle": "Mute Toggle",
                "None": "None",
                "Turn off Fullscreen": "Turn off Fullscreen",
                "Go Fullscreen": "Go Fullscreen",
                "Unmute": "Unmute",
                "Mute": "Mute",
                "Captions\/Subtitles": "Captions\/Subtitles"
            }
        };
        var _wpmejsSettings = {
            "pluginPath": "js\/mediaelement\/"
        };
        /* ]]> */
    </script>


    <script type='text/javascript' src='{% static 'js/jquery/ui/widget.min.js'%}'></script>
    <script type='text/javascript' src='{% static 'js/main-vendors.min.js'%}'></script>
    <script type='text/javascript' src='{% static 'js/main.min.js'%}'></script>
