{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>IndiSat.az</title>
    <link rel="icon" type="image/x-icon" href="{% static 'upload/alverust.png'%}" />

    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex">

    <!-- Perfect Scrollbar -->
    <link type="text/css" href="{% static 'dbcss/vendor/perfect-scrollbar.css'%}" rel="stylesheet">
    <link rel='stylesheet' href='{% static 'css/main.min.css' type='text/css'%}' media='all' />
    <link rel='stylesheet' href='{% static 'css/style-customabae.css'%}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'css/configs.css'%}' type='text/css' media='all' />

<!--

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

-->


    <!-- App CSS -->
    <link type="text/css" href="{% static 'dbcss/css/app.css'%}" rel="stylesheet">
    <link type="text/css" href="{% static 'dbcss/css/app.rtl.css'%}" rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css" href="{% static 'dbcss/css/vendor-material-icons.css'%}" rel="stylesheet">
    <link type="text/css" href="{% static 'dbcss/css/vendor-material-icons.rtl.css'%}" rel="stylesheet">

    <!-- Font Awesome FREE Icons -->
    <link type="text/css" href="{% static 'dbcss/css/vendor-fontawesome-free.css'%}" rel="stylesheet">
    <link type="text/css" href="{% static 'dbcss/css/vendor-fontawesome-free.rtl.css'%}" rel="stylesheet">

    <!-- ion Range Slider -->
    <link type="text/css" href="{% static 'dbcss/css/vendor-ion-rangeslider.css'%}" rel="stylesheet">
    <link type="text/css" href="{% static 'dbcss/css/vendor-ion-rangeslider.rtl.css'%}" rel="stylesheet">

    <script>
        function SavePar(object){
            var i = 0;
            var mylist = new Array(10);

            mylist[i] = object;

            i=i+1;
            console.log(mylist);

        }

    </script>



</head>