{% load static %}
    <title>AlVer.az - Online Satis Magazasi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> 
    <link rel='stylesheet' href='{% static 'css/layerslider.css'%}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'revslider/public/assets/css/settings.css'%}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'css/woocommerce-layout.css' type='text/css'%}' media='all' />
    <link rel='stylesheet' href='{% static 'css/woocommerce-smallscreen.css'%}' type='text/css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' href='{% static 'css/woocommerce.css' type='text/css'%}' media='all' />
    <link rel='stylesheet' href='{% static 'js/mediaelement/mediaelementplayer.min.css'%}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'js/mediaelement/wp-mediaelement.min.css'%}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'css/main.min.css' type='text/css'%}' media='all' />
    <link rel='stylesheet' href='{% static 'css/style-customabae.css'%}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'css/configs.css'%}' type='text/css' media='all' />

    <link rel='stylesheet' href='{% static 'js/wp-google-maps-pro/css/wpgmza_style_pro.css'%}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'js/wp-google-maps-pro/css/data_table_front.css'%}' type='text/css' media='all' />

	<link rel="icon" type="image/x-icon" href="{% static 'upload/alverust.png'%}" />
   