{% load static %}
   <script type='text/javascript' src='{% static 'js/jquery/jquery.js'%}'></script>
    <script type='text/javascript' src='{% static 'js/jquery/jquery-migrate.min.js'%}'></script>

    <script type='text/javascript' src='{% static 'js/jquery.themepunch.tools.min.js'%}'></script>
    <script type='text/javascript' src='{% static 'js/jquery.themepunch.revolution.min.js'%}'></script>
   
    <script type='text/javascript' src='{% static 'js/mediaelement/mediaelement-and-player.min.js'%}'></script>
    <script type='text/javascript' src='{% static 'js/mediaelement/wp-mediaelement.min.js'%}'></script>
    <script type='text/javascript' src='{% static 'js/hoverIntent.min.js'%}'></script>
    <script type='text/javascript' src='{% static 'js/jquery/ui/widget.min.js'%}'></script>
    <script type='text/javascript' src='{% static 'js/main-vendors.min.js'%}'></script>
    <script type='text/javascript' src='{% static 'js/main.min.js'%}'></script>
   

    <script type='text/javascript'>
    /* <![CDATA[ */
    var BateauxOptions = {"ajax_url":"js/admin-ajax.html"};
    /* ]]> */
    </script>

