{% extends 'layout.html' %}
{% load static %}

{% block body %}
    <main class="btx-content btx-content--no-header" id="main">
            <article id="post-2910" class="btx-content-wrapper post-2910 page type-page status-publish hentry">

                <div class="btx-main btx-main--single">
                    <div class="btx-main-wrapper">
                        <section class="btx-section js-dynamic-navbar btx-p-border-border" data-index="0">
                            <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                <div class="btx-background-overlay btx-p-bg-bg" style="opacity:0.9;"></div>
                            </div>
                            <div class="btx-section-wrapper" style="padding-top:0px; padding-bottom:0px;">
                                <div class="btx-container--fullwidth">
                                    <div class="btx-row btx-row--main btx-row--no-spacing">
                                        <div class="btx-col-6">

                                            <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border">
                                                <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                                    <div class="btx-background-wrapper">
                                                        <div class="btx-background-inner" style="background-image:url({% static 'upload/devoloper.jpg' %}); background-size:cover; background-position:center center; background-repeat:repeat;"></div>
                                                    </div>
                                                    <div class="btx-background-overlay " style="opacity:0.9;"></div>
                                                </div>
                                                <div class="btx-box-inner" style="height:calc(100vh - 83px); line-height:calc(100vh - 83px);" data-height="calc(100vh - 83px)">
                                                    <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                        <div class="btx-box-body">

                                                            <div class="btx-item js-item-space btx-space" style="height:480px;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btx-col-6">

                                            <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border">
                                                <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                                    <div class="btx-background-overlay " style="opacity:0.9;"></div>
                                                </div>
                                                <div class="btx-box-inner" style="height:calc(100vh - 83px); line-height:calc(100vh - 83px);" data-height="calc(100vh - 83px)">
                                                    <div class="btx-box-content btx-middle-vertical" style="max-width:733px; overflow-y:auto;">
                                                        <div class="btx-box-body" style="padding-top:80px; padding-right:12%; padding-left:12%; padding-bottom:80px;">

                                                            <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align">
                                                                <h2 class="btx-heading-text btx-custom_b-font btx-s-text-color btx-s-text-border"><span style="font-weight: bold;">Haji Davud</span><br></h2>
                                                            </div>

                                                            <div class="btx-item js-item-space btx-space" style="height:10px;"></div>

                                                            <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align btx-uppercase">
                                                                <h4 class="btx-heading-text btx-custom_c-font btx-s-text-color btx-s-text-border" style="letter-spacing:1px;"><span style="color: rgb(1, 162, 221);">Full Stack Python Developer</span></h4>
                                                            </div>

                                                            <div class="btx-item js-item-divider btx-divider btx-divider--single btx-left-align" style="margin-top:30px; margin-bottom:30px;">
                                                                <div class="btx-divider-line btx-p-border-bg btx-p-border-border" style="width:100px; height:1px; background-color:#01a2dd;">
                                                                </div>
                                                            </div>

                                                            <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font" style="margin-bottom:30px;">
                                                                <div class="btx-row" style="margin:0 -30px;">

                                                                    <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                        <div class="btx-text-content-inner">
                                                                            <span class="font-style" style="font-size: 15px;">Burani Sora dolduraram <br> </span> </div>
                                                                    </div>

                                                                </div>
                                                            </div>

                                                            <div class="btx-item js-item-button btx-button btx-button--border btx-left-align btx-button-size--medium btx-button-hover--inverse btx-button-color--basic">
                                                                <a href="#" target="_blank" class="btnx" style="border-radius:40px; border-width:1px;">

                                                                                SEND MONEY :D           
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        
                        
                    </div>
                </div>

            </article>
        </main>
{% endblock body %}