{% extends 'layout.html' %}
{% load static %}
{% block body %}


        <main class="btx-content btx-content--with-header" id="main">

            <article id="post-1449" class="btx-content-wrapper post-1449 page type-page status-publish has-post-thumbnail hentry">

                <header class="btx-content-header js-dynamic-navbar btx-page-hero btx-page-hero--stacked btx-page-hero--fit-height squeeze-hero" data-role="header">
                    <div class="btx-background" data-type="image" data-parallaxspeed="2" data-contentfade="" data-mobileparallax="">
                        <div class="btx-background-wrapper">
                            <div class="btx-background-inner" style="background-image:url({% static 'upload/onlineshopping.png' %}); background-size:cover; background-position:center top; background-repeat:repeat;"></div>
                        </div>
                    </div>
                    <div class="btx-page-hero-inner btx-container">
                        <div class="btx-page-hero-wrapper btx-center-align">
                            <div class="btx-page-hero-content btx-middle-vertical" style="padding-top:30px; padding-bottom:30px;">
                                <div class="btx-page-hero-content-wrapper btx-center-align" style="max-width:733px;">

                                    <div class="btx-page-hero-body">

                                        <div class="btx-page-hero-body-title">
                                            <h1 class="btx-page-hero-title btx-s-text-color btx-custom_a-font" style="letter-spacing:2px;"><span class="font-style font-style-big" style="font-size: 80px;">Indisat.az - Pulsuz Elan Saytı </span></h1>
                                        </div>

                                        <div class="btx-page-hero-subtitle btx-page-hero-subtitle--bottom btx-custom_c-font"><span style="color: rgb(48, 48, 48);"><b>Hamı yerli mal satsın, xeyir 'VƏTƏN'-ə qalsın.</b></span>
                                            <br>
                                        </div>

                                        <div class="btx-page-hero-divider">
                                            <div class="btx-page-hero-divider-inner btx-s-text-bg" style="max-width:360px;"></div>
                                        </div>
                                        {% if request.user.is_authenticated %}
                                        <div class="btx-page-hero-buttons">

                                            <div class="btx-button btx-button--fill btx-button-hover--none btx-button-size--medium btx-button-color--basic"><a class="btnx" href="user/sticker" target="_blank" style="border-radius:0px;">Elan Yerləşdir</a></div>

                                        </div>
                                        {%else%}
                                        <div class="btx-page-hero-buttons">


                                            <div class="btx-button btx-button--fill btx-button-hover--none btx-button-size--medium btx-button-color--basic"><a class="btnx" href="user/elan" target="_blank" style="border-radius:0px;">Elan Yerləşdir</a></div>


                                            <div class="btx-button btx-button--border btx-button-hover--none btx-button-size--medium btx-button-color--basic"><a class="btnx" href="user/login" target="_blank" style="border-radius:0px;">Daxil Ol</a></div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </header>

            </article>
            <div class="btx-item js-item-heading btx-heading btx-heading--breakline btx-center-align" style="padding-top:50px; padding-button:0px;">
                <h3 class="btx-heading-text btx-custom_a-font btx-s-text-color btx-s-text-border" style="letter-spacing:2px;"><span style="color: rgb(170, 170, 170);">Təzəlikcə Qoyulan Elanlar</span><br></h3>
            </div>


            </div>


            {% include 'che.html' %}
            <br>


        </main>
    </div>








{% endblock body %}
