{% extends 'layoutdash.html' %}


{% block body %}
<br><br><br><br><br><br><br>
<div class="container">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p><label >Kohne Parol:</label> <input type="password" name="oldpassword" maxlength="30"></p>
    <br>
    <p><label >Yeni Parol:</label> <input type="password" name="newPassword" maxlength="30"></p>
    <p><label >Tekrar Parol:</label> <input type="password" name="newPassword2" maxlength="30"></p>
    
    <button type="submit" class="btnx" style="border-radius:2px; border-width:1px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Yenile</font></font></button>
<br><br>
</form>
</div>
{% endblock body %}