{% extends 'layout.html' %}
{% load static %}

{% block body %}


    <br><br><br><br>
    
    <div class="row" style="padding-left:60px;">
        <div class="card"> 
            <div class="card__image"></div> 
            <div class="card__title">title</div> 
            <div class="card__description">content</div> 
        </div> 
    </div>
    



    <div class="btx-wrapper btx-p-bg-bg btx-home hide-border">

        


        <main class="btx-content btx-content--with-header" id="main">
            <article id="post-1291" class="btx-content-wrapper post-1291 page type-page status-publish hentry">
            <header class="btx-content-header btx-page-title btx-page-title--inline btx-left-align js-dynamic-navbar btx-page-title--left" data-role="header">
                    <div class="btx-background" data-type="color" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                        <div class="btx-background-overlay btx-s-bg-bg" style="opacity:1;"></div>
                    </div>

                    <div class="btx-container">
                        <div class="btx-page-title-wrapper">

                            <div class="btx-page-title-breadcrumbs custom-color" style="color:#303030;">

                                <ul class="btx-breadcrumbs">
                                    <li>
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li class="btx-separator"><span class="fa fa-angle-right"></span></li>

                                    <li>
                                        <a href="#">Shop</a>
                                    </li>
                                    <li class="btx-separator"><span class="fa fa-angle-right"></span></li>

                                    <li class="btx-breadcrumbs-current btx-s-text-color">Elanlar</li>
                                </ul>
                            </div>
                            

                            <div class="btx-page-title-content btx-s-text-color" style="color:#303030;">
                                
                                <blockquote class="blockquote">
                                    <p class="mb-0">Premium Elanlar:</p>
                                    <footer class="blockquote-footer">PREMIUM</footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>

            </header>
            
              
            {% for article in pre %}
                <div class="btx-main btx-main--single">
                    <div class="btx-main-wrapper">
                        <section class="btx-section js-dynamic-navbar btx-p-border-border" data-index="0">
                            <div class="btx-background" data-type="image" data-parallaxspeed="2" data-contentfade="" data-mobileparallax="">
                                <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#f5f5f5; opacity:1;"></div>
                            </div>
                            <div class="btx-section-wrapper" style="padding-top:0px; padding-bottom:80px;">
                                <div class="btx-container">
                                    <div class="btx-row btx-row--main">
                                        <div class="btx-col-12">

                                            <div class="btx-item js-item-product btx-product btx-product--standard btx-left-align btx-product-layout--carousel woocommerce btx-product-no-rating">
                                                <!-- 1 Palasa Divlerler icinde 3 dene elan . Forun birini burda aciriq birinide aldaki divde-->
                                                
                                                <div class="btx-product-content" style="margin:0 -10px;  padding:0px;" data-display="4" data-scroll="1" data-loop="true">
                                                    {% for art in article %}
                                                   
                                                        <div class="row" style="padding-left:10px;padding-right:60px;">
                                                            <div class="card"> 
                                                                <div class="card__image"> <img width="624" height="800" src="{{art.image.url}}" class="attachment-shop_catalog size-shop_catalog wp-post-image" style="max-height:220px; min-height:220px; max-width:390px; min-width:280; object-fit:cover"/></div> 
                                                                <div class="card__title">{{art.title}}</div> 
                                                                <div class="card__description">{{art.qiymet}}</div> 
                                                            </div> 
                                                        </div>
                                                    {% endfor %}
                                              
                                                   

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                {% endfor %}
      <header class="btx-content-header btx-page-title btx-page-title--inline btx-left-align js-dynamic-navbar btx-page-title--left" data-role="header">
                    <div class="btx-background" data-type="color" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                        <div class="btx-background-overlay btx-s-bg-bg" style="opacity:1;"></div>
                    </div>

                    <div class="btx-container">
                        <div class="btx-page-title-wrapper">

                            
                            

                            <div class="btx-page-title-content btx-s-text-color" style="color:#303030;">
                            <blockquote class="blockquote">
                                <p class="mb-0">Son Qoyulan Elanlar:</p>
                            </blockquote>

                            </div>
                        </div>
                    </div>

            </header>
            
              
            {% for article in son %}
                <div class="btx-main btx-main--single">
                    <div class="btx-main-wrapper">
                        <section class="btx-section js-dynamic-navbar btx-p-border-border" data-index="0">
                            <div class="btx-background" data-type="image" data-parallaxspeed="2" data-contentfade="" data-mobileparallax="">
                                <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#f5f5f5; opacity:1;"></div>
                            </div>
                                    <div class="btx-row btx-row--main">
                                        <div class="btx-col-12">
                                            <div class="container">
                                            <div class="btx-item js-item-product btx-product btx-product--standard btx-left-align btx-product-layout--carousel woocommerce btx-product-no-rating">
                                                <!-- 1 Palasa Divlerler icinde 3 dene elan . Forun birini burda aciriq birinide aldaki divde-->
                                                
                                                <div class="btx-product-content" style="margin:0 -10px;  padding:10px;" data-display="4" data-scroll="1" data-loop="true">
                                                    {% for art in article %}
                                                   
                                                        <div class="row" style="padding-left:10px;padding-right:60px;">
                                                            <div class="card"> 
                                                                <div class="card__image loading"></div> 
                                                                <div class="card__title loading"></div> 
                                                                <div class="card__description loading"></div> 
                                                            </div> 
                                                        </div>
                                                    
                                                    {% endfor %}
                                              
                                                   

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                {% endfor %}          
            
        </main>

       
    </div>



{% endblock body %}